@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: bisque;

}

a {
    width: 250px;
    height: 250px;
    background-color: rgb(189, 153, 98);
    position: relative;
    margin: 20px;
    border-radius: 20px;
    transition: 0.2s;
    outline: none;
}

a:hover {
    width: 270px;
    height: 270px;
    transition: 0.1s;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Josefin Sans';
}